/***    General     ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif
}

body {
  margin: 0 auto
}

.m-5-auto {
  margin: 5rem auto
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: .6rem;
  width: 10rem;
  height: 3rem;
  position: absolute;
  right:1100px;
 
  border-radius: 10px;
  background: rgb(242, 236, 236);
  border: none;
  color: rgb(149, 56, 186);
  font-size: 1rem;
  transition: all .5s;
  cursor: pointer;
  text-transform: capitalize
}

/***    Landing Page     ***/
.main-title,
.main-para {
  color: #f1f1f1
}

.main-title {
  padding-top: 10rem;
  font-size: 5rem;
  font-family: 'Fascinate', cursive;
  text-transform: uppercase
}

.main-para {
  font-size: 2.5rem;
  text-Transform: capitalize
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
padding-right: 25px;
}

#reg_btn:hover span:after {
opacity: 1;
right: 0;
}
/***    Login Page     ***/
h2  {
  font-weight: 300px;
  font-size: 50px;
  color: #fff;
  font-style:serif;
  text-align: center;
}
label{
  color: black;
  padding: 10px;
  margin: 10px;

}

form{
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 2rem;
  margin: 2rem 0 1rem 0;
  position:absolute;
  top:300px;
  right: 40%;
  
  
}
h3{
  font-weight: 300px;
  font-size: 50px;
  padding: 100px;
  color: rgb(112, 83, 104);
  font-style:serif;
  text-align: center;
}

form label {
  float: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}
.form-container{
  margin: 0 auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

/* .login-header{
  padding-bottom: 30px;
} */

.right-label {
  float: right;
  cursor: pointer
}

input {
  width: 15rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}

#sub_btn {
  display: block;
  width: 100%;
  padding: .3rem;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 3px;
}

#sub_btn:hover {
  background: #333;
  transition: all .5s
}

footer p {
  margin: 10px;
  font-size: .9rem;
  display: flex;
  line-gap-override: 10px;
}

/***    Register Page     ***/
#checkbox {
  width: 1rem
}

form span {
  font-size: .8rem
}

#reset_pass_lbl {
  float: left
}

/***    Home Page     ***/
.home-page-title {
  color: #222
}
.landing-page{
  background: url("./assets/Header.png")

}
.box{
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 300px;
  top: auto;
  right: 150px;
  
}